streamlit==1.35.0

pandas==2.2.2
numpy<2

matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0

scikit-learn==1.5.0
xgboost==2.0.3

joblib==1.4.2
scipy==1.13.1
threadpoolctl==3.5.0

python-dateutil==2.9.0.post0
pytz==2024.1
tzdata==2024.1

pillow==10.3.0

altair==5.3.0
pydeck==0.9.1

protobuf==4.25.3

watchdog==4.0.1
